.modal-btn {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  font-family: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  color: #ffffff;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  // outline: none;
}

.hero__container-button {
  display: flex;
  justify-content: center;
  // margin: 10px 32px;
  font-family: var(--accent-color);
}
