:root {
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --main-font: "Roboto", sans-serif;
  --second-bg-color: #f5f4fa;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --logo-client: #afb1b8;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
